@media screen {
    body{
    	background-image: none;
    	padding-top: 20px;
    	padding-bottom: 20px;
    }

    h1, h2, h3 {
    	color: #00447A;
    }

    .page-header {
        padding-bottom: 0;
    }
    .portlet header {
        background-color: #00447A;
        background-image: -o-linear-gradient(top, #3f6fa2, #00447A);
        background-image: -ms-linear-gradient(top, #3f6fa2, #00447A);
        background-image: -moz-linear-gradient(top, #3f6fa2, #00447A);
    	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f6fa2), to(#00447A));
        background-image: -webkit-linear-gradient(top, #3f6fa2, #00447A);
        background-image: linear-gradient(top, #3f6fa2, #00447A);
        text-shadow: 0 1px 0 #FFF;
        border: 1px solid #00447A;
        padding: 6px 10px;
    }

    .portlet header h2 {
        color: #EEEEEE;
        text-shadow: 0 1px 0 #333333;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 28px;
        margin: 0;
        float: left;
    }

    .portlet > section {
    background: white;
    border-color: #00447A;
    border: 1px solid #00447A;
    border-top-width: 0;
    padding: 20px;
    }

    .portlet.headerless > section {
        border-top-width: 1px;
    }
}

@media print {
    body { font: 10pt Georgia, "Times New Roman", Times, serif; line-height: 1.2em; }
    
    .table th, .table td {
        line-height: 1.3em;
        padding: .5em;
    }
    .portlet {
        box-shadow: none;
    }
    .hidden-phone, .hidden-tablet{
        visibility: visible;
    }
    .portlet header h2, .portlet header {
        text-shadow: none;
    }
    .portlet header {
        padding: .2em;
        padding-left: 1em;
        border-bottom: none;
    }

    hr{
        display: none;
    }

    i.icon-ok:after, i.icon-ban-circle:after {
        content:  "Yes";
    }
    #breadcrumb, #sharethis-buttons, .noprint {
        display:none;
    }

    @page { 
        margin: 0.5cm; 
        /* size: landscape; */
    }


}