/* SailCircuit.css */ 
.baseFooter{
    text-align: center;
}
.ajaxForm {
    margin: 0;
}

.editable:hover {
    cursor: pointer;
}

.form-horizontal .form-actions{
    text-align: right;
}

.group-label{
    text-align: center;
    margin-bottom: 15px;
}

h2.editable, h2.editMode {
    display: block;
    float: none!important;
}

.leading{
	margin-top:15px;
}

.oneaddon {
    width: 244px;
}

.twoaddons {
    width: 216px;
}

.portlet{
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.portlet > section {
background: white;
border-color: #CCC;
border: 1px solid #CCC;
border-top-width: 0;
padding: 20px;
}

.portlet.headerless > section {
    border-top-width: 1px;
}

.portlet header {
    background-color: #F4F4F4;
    background-image: -o-linear-gradient(top, #FCFCFC, #F4F4F4);
    background-image: -ms-linear-gradient(top, #FCFCFC, #F4F4F4);
    background-image: -moz-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#F4F4F4));
    background-image: -webkit-linear-gradient(top, #FCFCFC, #F4F4F4);
    background-image: linear-gradient(top, #FCFCFC, #F4F4F4);
    text-shadow: 0 1px 0 #FFF;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px 20px;
}

.portlet header h2 {
    color: #999999;
    text-shadow: 0 1px 0 #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    float: left;
}

.span2.add-remove-buttons{
    padding-top: 50px;
}

.span2.add-remove-buttons .btn-group {
    text-align: center;
}

.table thead td {
    font-weight: bold;
}

.table td.alignright, .table thead td.alignright, .table thead th.alignright {
    text-align: right;
}

/* Tiny Scrollbar Styles */

.scrollable {width: 100% clear:both; padding-right: 10px; position: relative;}
.scrollable .viewport { width: 100%; height: 400px; overflow: hidden; position: relative; }
.scrollable .overview { list-style: none; position: absolute; left: 0; top: 0; }
.scrollable .thumb .end,
.scrollable .thumb { background-color: #AAAAAA; }
.scrollable .scrollbar { position: absolute; top: 0; right: -10px; width: 8px; }
.scrollable .track { background-color: #EEEEEE; height: 100%; width:8px; position: relative; padding: 0 1px; -webkit-border-radius: 4px; border-radius: 4px; }
.scrollable .thumb { height: 20px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0;  -webkit-border-radius: 4px; border-radius: 4px;}
.scrollable .thumb .end { overflow: hidden; height: 5px; width: 8px;}
.scrollable .disable{ display: none; }


/* Responsive Styles */

/*  Landscape phones and down */
    @media (max-width: 480px) { 
        .span2.add-remove-buttons{
            padding-top: 0;
            margin-top: 15px;
        }
    }
 
/*  Landscape phone to portrait tablet */
    @media (max-width: 767px) {
         .span2.add-remove-buttons{
            padding-top: 0;
        }
    }

